
*{
    overflow: auto;
}
/* 
    style génériques en haut du fichier
    style spécifiques en bas du fichier
*/
body {
    background-color: #8ba1bb;
    font-family: Arial;
}

p.categorie{
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin-top: -30px;
    padding:8px 18px;
    margin-bottom: 0px;
    overflow: visible;
}
div.categorie {
    margin-bottom: 0px;
    margin-top: -30px;
    overflow: visible;
}
div.contenu{
    background-color: #fff;
    margin: 60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    overflow: visible;
}
h1{ 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
.centre {
    text-align: center;
    width : 100%;
}
div.separateur {
    width:   100px ;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

div.info{

    position: relative;
}

table.info{
    position: absolute; 
    bottom: 0px;
    width: 100%; 
    background-color: #6c829dc0; 
    color : #fff;
}
table.info th{
    font-size: 16px;
    vertical-align: top;
    padding-bottom: 8px;
}
table.info td{
    text-align: center;
    font-size: 13px;
    vertical-align: bottom;
}

img.info {
    display:block ;
    max-height: 400px;
    object-fit:cover;
    min-height: 200px;
    background-color: #8ba1bb;
}
.materiel span {
    width : 33%;
}
div.colonne{
    margin-top: 0px;
}
div.colonne p {
    text-align: center;
}
div.colonne h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    border-bottom: 5px solid #6c829d;
    padding-bottom: 5px;
}
div.colonne1{
    width :30%;
    background-color: #0000ff40;
    display:inline-block;
    
    box-sizing: border-box;
    border-right: 5px solid #fff;
}
div.colonne1 p{
    border : 1px solid lightgray;
    font-size: 12px;
    pad: 4px 0;
}
div.colonne2{
    width :70%;
    float : right;
    background-color: #ff000040;
    margin-bottom: 0px;
    font-size: 12px;
}
table.preparation p.numero{
    background-color: #6c829d;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 60%;
    padding-top : 4px;
    box-sizing: border-box;
    margin: 0;
}
table.preparation td{
    vertical-align: top;
}
table.preparation tr {
    height: 25px;
}
td.preparation-etape{
    padding-left: 10px;
    padding-bottom: 10px;
}

div.bandeau{    
    /* garantie la hauteur égale des colonnes 1 et 2 */
    display: flex;
    align-items: stretch;
    /* box-sizing:content-box; */
    overflow: auto;
}
